{% extends 'main/base.html' %}
{% block body %}
    <div>
        {% for i in phone_list %}
            {% if i.check_1 %}
                <h4>{{ i.name }} - Առկա է</h4>
                <img src="{{ i.img.url }}" width="400px" alt="">
                <p>{{ i.price }} դրամ</p>
                <hr>
            {% else %}
                <h4>{{ i.name }} - Առկա չէ</h4>
                <img src="{{ i.img.url }}" width="400px" alt="">
                <p>{{ i.price }} դրամ</p>
                <hr>
                {% endif %}
        {% endfor %}
    </div>

{% endblock %}
