<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<header>
    
    <a href="{% url 'home' %}"><button>Home</button></a>
    <hr>
    <h1>Contact us</h1>
</header>
<body>
    <div>
        <form method="post">
            {% csrf_token %}
            <p>
                <input type="text" name="user_name" id="" placeholder="Username" style="width: 300px;">
            
            </p>
                <input type="text" name="user_email" id="" placeholder="Email" style="width: 300px;">
            </p>
                <input type="text" name="user_phone" id="" placeholder="Phone" style="width: 300px;">
            </p>
                <input type="text" name="user_review" id="" placeholder="Review" style="width: 500px; height: 200px;">
            </p>
            <button type="submit" style="width: 300px;">Send</button>


        </form>
    </div>
    
</body>
</html>