<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zuyg tver</title>
</head>
<header>
    <a href="{% url 'home' %}"><button>Home</button></a>
    <hr>
</header>
<body>
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="mylist" id="" placeholder="Enter numbers">
            <button type="submit">Calculate</button>
        </form>
    </div>
    <div>
       <h3>Result = {{ res }}</h3> 
    </div>
    
</body>
</html>